h1  {color: #043458;}
h2  {color: #215E7C;}
h3  {color: #215E7C;}

.td-page-meta--child,.td-page-meta--view,.td-page-meta--edit,.td-page-meta--issue,.td-page-meta--project-issue { display: none !important; }